rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdministrator() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdministrator;
    }

    function isNotAffectingIsAdministrator() {
      return !request.resource.data.diff(resource.data).affectedKeys().hasAny(['isAdministrator']);
    }

    function isNotAffectingCharacterProtectedFields() {
      return !request.resource.data.character.diff(resource.data.character).affectedKeys().hasAny([
        'level',
        'keywordRegistry',
        'levelUpKeywordRegistry',
        'lastDailyRecapKeywordRegistry',
        'unlockedItems',
      ])
    }

    function hasUnlockedItem(type) {
      return !request.resource.data.character.diff(resource.data.character).affectedKeys().hasAny([type])
        || request.resource.data.character[type] == ''
        || resource.data.character.unlockedItems[request.resource.data.character[type]] > 0
    }

    function isGuildPublicOrHasMember() {
      return !resource.data.isPrivate || (request.auth != null && request.auth.uid in resource.data.members);
    }

    function isGuildAdministrator() {
      return request.auth != null && request.auth.uid in resource.data.administratorIds;
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == userId && !request.resource.data.isAdministrator;
      allow delete: if isAdministrator() || request.auth != null && request.auth.uid == userId;
      allow update: if isAdministrator() || request.auth != null && request.auth.uid == userId
        && isNotAffectingIsAdministrator()
        && isNotAffectingCharacterProtectedFields()
        && hasUnlockedItem('avatarItemId')
        && hasUnlockedItem('mainHandItemId')
        && hasUnlockedItem('offHandItemId')
        && hasUnlockedItem('helmItemId')
        && hasUnlockedItem('armorItemId')
        && hasUnlockedItem('glovesItemId')
        && hasUnlockedItem('bootsItemId')
        && hasUnlockedItem('amuletItemId')
        && hasUnlockedItem('ringItemId')
        && hasUnlockedItem('spell1ItemId')
        && hasUnlockedItem('spell2ItemId')
        && hasUnlockedItem('spell3ItemId')
        && hasUnlockedItem('spell4ItemId');
    }

    match /guilds/{huildId} {
      allow read: if request.auth != null && isGuildPublicOrHasMember();
      allow create: if request.auth != null && isAdministrator();
      allow update, delete: if request.auth != null && (isAdministrator() || isGuildAdministrator());
    }

  }
}
